@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
}

.blocks{
    display: flex;
    justify-content: center;

}
.paragraph{
    padding: 10px 20px;
    margin: 0 10px;
    /* border: 1px solid blue; */
    width: 300px;
    box-shadow: 2px 2px 3px 1px gray;
    border-radius: 20px;
}
